{% extends "base.html" %}
{% block pagenav %}
{% endblock %}

{% block content %}

<table class="inner">
  <tr><th colspan="7" align="center">today filter</th></tr>
<tr>
<th><span class="label">Mo</span></th>
<th><span class="label">Di</span></th>
<th><span class="label">Mi</span></th>
<th><span class="label">Do</span></th>
<th><span class="label">Fr</span></th>
<th><span class="label">Sa</span></th>
<th><span class="label">So</span></th>
</tr>
{% for week in cal %}
  <tr>
	{% for day in week %}
      {% if day.0 == today.day %}
        <td id="today">
      {% else %}
        <td>
      {% endif %}
      {% if day.0 %}
        {% if day.1 %}
          <span class="label label-inverse">
            <b><a href="/termine/{{ today.year }}/{{ today.month }}/{{day.0 }}">{{day.0}}</a></b>
          </span>
        {% else %}
		  <span class="label">{{day.0}}</span>
        {% endif %}
      {% endif %}
		</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>

{% endblock %}
