<h1>Planlos Bremen - Startseite</h1>
<div class="panel radius">
  <p class="lead">
    Deine nächsten Termine:
  </p>
  <ul>
    <li>Termin 1&nbsp;<a ng-href="#"><i class="fi-pencil"></i></a></li>
    <li>Termin 2&nbsp;<a ng-href="#"><i class="fi-pencil"></i></a></li>
    <li>Termin 3&nbsp;<a ng-href="#"><i class="fi-pencil"></i></a></li>
  </ul>
  <a href="#" class="button round">Neuen Termin anlegen</a>
</div>

<div class="panel radius">
  <p class="lead">
    Deine letzten Aktionen:
  </p>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
</div>

