<h1>Planlos Bremen - Ort anlegen/bearbeiten</h1>

<!-- Name -->
<div class="row">
	<div class="small-2 columns">
		<label for="right-label" class="right"><h3>Name</h3></label>
	</div>
	<div class="small-10 columns">
		<input type="text" ng-model="place.name" placeholder="Name">
	</div>
</div>

<!-- ADDRESS -->
<div class="row">
	<div class="small-2 columns">
		<label for="right-label" class="right"><h3>Addresse:</h3></label>
	</div>
	<div class="small-10 columns">
		<input type="text" ng-model="place.addr" placeholder="Name">
	</div>
</div>

<!-- DESCRIPTION -->
<div class="row">
	<div class="small-2 columns">
		<label for="right-label" class="right"><h3>Beschreibung</h3></label>
	</div>
	<div class="small-10 columns">
		<textarea rows="10" ng-model="place.desc"></textarea>
	</div>
</div>