{% macro render_errors(field) %}
{% if field.errors %}
    {% for error in field.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
{% endif %}
{% endmacro %}

{% macro render_field_hidden(field) %}
  {{field.label(class='sr-only')}}
  {{field()}}
{% endmacro %}


{% macro render_field(field, cols=9) -%}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
	{% if field.type == "SubmitField" %}
	  {{field.label(class='col-lg-3 control-label sr-only')}}
	{% else %}
	  {{field.label(class='col-lg-3 control-label')}}
	{% endif %}
	<div class="{{'col-lg-'~cols}}">
	  {% if field.type == "SubmitField" %}
		{{ field(class="btn btn-primary", **kwargs)|safe }}
	  {% elif field.type == "BooleanField" %}
		<div class="checkbox">
		  {{ field(class="btn btn-primary", **kwargs)|safe }}
		</div>
	  {% elif field.type == "DateTimeField" %}
		{{ field(class="datetime", **kwargs)|safe }}
	  {% else %}
		{{ field(class='form-control', **kwargs)|safe }}
	  {% endif %}
	</div>
	{% if field.errors %}
	  {% for error in field.errors %}
		<div class="help-block">{{ error }}</div>
	  {% endfor %}
	{% endif %}
	</div>
{%- endmacro %}



{% macro render_field_without_label(field) %}
  <div class="control-group">
	{% if field.errors %}error{% endif %}
	<div class="controls">
	  {{ field(**kwargs)|safe }}
	  {% if field.errors %}
		{% for error in field.errors %}
		  <span class="help-inline">{{ error }}</span>
		{% endfor %}
	  {% endif %}
	</div>
  </div>
{% endmacro %}


{% macro render_help(text) %}
<i class="icon-question-sign help-button" data-title="Hilfe"
   data-content="{{text}}" data-placement="right"></i>
{# hier war ein javascript fuer render help button popover #}
{% endmacro %}
